.dashboard-wrapper {
  width: 100%;
  padding: 20px;
  text-align: center;
}

/* Board container */
.notes-board {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  height: 75vh;
  border: 2px dashed #bbb;
  position: relative;
  overflow: hidden;
}

/* Controls layout */
.note-controls {
  margin: 20px auto;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

/* Input Box */
.note-input {
  width: 700px;
  height: 80px;
  padding: 12px;
  font-size: 1rem;
  border-radius: 25px;
}

/* Color selector icon button */
.color-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Popup of color options */
.color-popup {
  position: absolute;
  margin-top: 100px;
  display: flex;
  gap: 10px;
  z-index: 10;
}

/* Each color dot */
.color-circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

/* Add button */
.add-btn {
  padding: 10px 18px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
  height: 36px;
  border-radius: 18px;
}

.color-wrapper {
  position: relative;
}

/* Radial wheel container */
.color-wheel {
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 140px;
  height: 140px;

  transform: translate(-50%, -50%);
  
  border-radius: 50%;
  pointer-events: none; /* wheel doesn't block dragging */
  
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 30;
}

/* Each color dot placed radially */
.color-dot {
  --distance: 25px;   /* radial distance from center */
  
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  
  border: 2px solid white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  
  cursor: pointer;
  pointer-events: auto; /* allow clicking */
  
  /* Radial positioning */
  transform: rotate(calc(var(--i) * 360deg / 4)) translate(var(--distance)) rotate(calc(var(--i) * -360deg / 4));
}
